# Excluding these directories and files.
*NoGit*
GoogleSketchUp
*.epf
*.s#*
*.b#*
*.skb
*.min
*.eep
*.src
obj/*
*.obj
build/
MACD.png
MACE.png
MACF.png
MACJ.png
MBRJ.png
MLTE.png
MLTJ.png
MPBE.png
MPBJ.png
MPTE.png
MPTJ.png
MPTP.png
MPZD.png
MPZE.png
MPZF.png
MPZJ.png
MRCJ.png
MSDJ.png
MSTJ.png
MSTP.png
MTAJ.png
MZ2J.png